<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>638475175038-hoelhuuc2cpn3dvvh2h5juh5ejb3bjcp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.638475175038-hoelhuuc2cpn3dvvh2h5juh5ejb3bjcp</string>
	<key>API_KEY</key>
	<string>AIzaSyDJM-eSgSdaZQp0M1bBKgM1rpzrRdmjOYU</string>
	<key>GCM_SENDER_ID</key>
	<string>638475175038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ylupi</string>
	<key>PROJECT_ID</key>
	<string>learnfirebase-76a04</string>
	<key>STORAGE_BUCKET</key>
	<string>learnfirebase-76a04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:638475175038:ios:d611e596a68afbcf2c042f</string>
</dict>
</plist>